@import url(sanitize.css);
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');


body{
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 14px;
  color: #555;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

header{
  background-color: #be71a5;
  padding:  10px;
  color: white;
}

header h1{
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;

}

.information h1{
  font-size: 18px;
  margin: 0 10px 10px 0;
  float: left;
}

.information .type{
  background-color: crimson;
  display: inline;
  padding: 3px 5px;
  color: white;
  font-size: .8em;

}

.description{
  clear: left;
}

.description img{
  width: 200pt;
  float: left;
  margin: 0 10px 10px 0;

  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.description img:hover{
  opacity: .5;
}




.content{
  background-color: white;
  padding: 20px;
}


.games{
  margin: 0 0 20px;
  clear: left;
}

.games h2{
  float: left;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  background-color: #e6e6e6;
  padding: 5px ;
}

.games ol{
  clear: left;
  padding: 0;
  margin: 0;
  list-style: decimal inside;
}

.games li{
  border-bottom: solid 1px gray;
  width: 48%;
  float: left;
  padding: 5px 10px;
  margin: 5px;
}

.clearfix:after{
  content: " ";
  display: table;
  clear: both;
}

a{
  color: gray;
}

footer{
  text-align: center;
  font-size: .8em;
  padding: 5px;
}

/* RWD */
@media only screen and (max-width: 900px){
  .description img{
    float: none;
    margin: 0 auto;
    display: block;
  }

  header{
    padding: 5px;
  }
  
  header h1{
    font-size: 18px;
  }
  
  .description p{
    text-align: center;
  }


  .games li{
    float: none;
    width: inherit;
  }
}



